.grid-view {
	width : 80%;
	margin : 30px auto;
}

.project-grid-view h3{
	text-align : center;
	font-size : 1.65em;
	margin : 0 0 30px;
}

.project-grid_view a{
	display : inline-block;
	margin-bottom : 8px; 
  	width : calc(50% - 4px); 
	text-decoration : none; 
	color : black;
}


@media screen and (min-width: 50em){
	a{
	  width : calc(25% - 6px);
	}
}

.project-grid_view a:hover img{
	transform : scale(1.15);     
}

.project-grid_view figure{
	margin : 0;
	overflow : hidden;
}

.project-grid_view figcaption{
	margin-top : 15px;
}

.project-grid_view img{
	border : none; 
	max-width: 100%;
	height: auto; 
	display : block; 
	background: #ccc; 
	transition : transform .2s ease-in-out;
}

/* styles for project list*/

.project-grid-view div{
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
	text-align : center;
}


 
